/* Styles par composants */

.hero {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../src/etretat-4506072_1920.jpg");
/*  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heroindex {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../src/conceptbackground.jpg");
/*  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroteam {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../src/workteam.jpg");
/*  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroaccount {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../src/gorges-du-verdon-6081365_1920.jpg");
/*  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title{
  font-size: 50px;
  text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: white;
  font-weight:lighter;  
  text-align:center;
  line-height:50px;
  text-decoration: underline;
}

.title_1{
  font-size: 30px;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:gray;
  font-weight:bold;  
  text-align:left;
  line-height:50px;
}

.title_2{
    font-size: 20px;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color:yellowgreen;
    font-weight:bold;  
    text-align:left;
    line-height:50px;
}
.Hbutton {
  padding: 8px 16px;
  border-radius: 4px;
}

.button_primary {
  background-color:gray;
  border: 0px;
  margin: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: "center";
  border-radius: 10px;
  line-height: 2;
  font-size : 15px;  
}

.button_secondary {
  background:white;
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  align-items: "center";
  font-size: 20px,
  
}

.text_primary {
  color :white; 
  font-family : "calibri";
}

.text_secondary {
  color: gray; 
  font-family : "Georgia";
   
}

.large {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(https://www.hertzpageo.com/img/blog/fr/FR%20BLOG/2017/nice%20beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.columns{
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.imgPresentation{
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
}

.columnPresentation{
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;

}

.media_content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.HDestination {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 10%;
  border: 2px solid;
  border-color: black;
  max-width: 16rem;
  max-height: 16rem;
}

.HDestinationDivpicture {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  height: 100px;
  flex: 7;
  display: flex;
  justify-content: center;
}

.HDestinationPicture {
  border-top-right-radius: 12%;
  border-top-left-radius: 12%;
  max-height: 100%;
  max-width: 100%;
}

.HDestinationCityName {
  text-align: center;
  color : orange;
  padding-top: 0;
  padding-bottom: 0;
  border: 2px solid;
  border-left:0;
  border-right: 0;
  border-color: black;
  flex: 1;
}

.HDestinationCost {
  color: black;
  font-size: small;
  text-align: left;
  margin-left: 10%;
  flex: 3;
  display: flex;
  align-items: center;
}

.HDestinationTxt {
  font-weight: bold;
  font-size: large;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
  font-variant: small-caps;
}

.HSecondaryPicture {
  flex : 2;
}

.HSecondaryDestination {
  flex : 5;
  display: grid;
  grid-auto-flow: row;
  justify-content: space-around;
  padding: 5px;
  overflow: hidden;
}

.HSecondarySort {
  margin-left: 10%;
  position: absolute;
}